header.header
	button.burger
		span.burger__item
	nav.menu-mobile
		button.close 
			span.close__item
		ul.menu__list
			li.menu__item  
				a.js-to-anchor.js-active.js-mobile.is-active(href="#home") Резюме
			li.menu__item 
				a.js-to-anchor.js-active.js-mobile(href="#about") О себе
			li.menu__item 					
				a.js-to-anchor.js-active.js-mobile(href="#skills") Навыки
	.container
		
		nav.menu
			ul.menu__list
				li.menu__item  
					a.js-to-anchor.js-active.is-active(href="#home") Резюме
				li.menu__item 
					a.js-to-anchor.js-active(href="#about") О себе
				li.menu__item 					
					a.js-to-anchor.js-active(href="#skills") Навыки
