footer.footer 
    .container 
        +lazyPicture({
            src: `${baseDir}images/love.jpg`,
            alt: 'image',
            }).footer__image
    a(href="#home").to-header.js-to-anchor
        <svg class="progress-ring" xmlns="http://www.w3.org/2000/svg">
            <ellipse class="progress-ring__circle" stroke="#D2233C"  ry="25" rx="25" id="svg_2" cy="25" cx="25" stroke-width="3" fill="none"/>
            
        </svg>
        .link-content
