section.skills#skills
    .container 
        .heading Навыки
        .skills__items
            .skills__item 
                .skills__title Adobe Creative Suite
                .skills__text Photoshop, Illustrator, InDesign, XD, After Effects
            .skills__item 
                .skills__title Prototyping
                .skills__text Sketch, Figma, InVision, Marvel, Principle, Balsamiq
            .skills__item 
                .skills__title Additional
                .skills__text HTML, CSS, Google Analytics, Keynote, Miro
            .skills__item 
                .skills__title Languages
                .skills__text Conversational English and Native Russian